body {
  font-family: 'Lato', sans-serif;
  background-image: url('images/mountain.jpg');
  no-repeat center center;
  background-size: cover;
  width: 100%;
  font-weight: 300;
}

button.icon {
  background-color: transparent;
  color: none;
  outline: none;
  border:none;
}

#logo {
  margin-top: 70px;
  margin-bottom: 90px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

a:hover {
  color: #4ba294;
  text-decoration: none;
}

li {
  list-style: none;

}

.info-text {
  list-style: none;
  font-size: 20px;
}

.trail-map {
  width: 500px;
  height: 500px;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

input#ember386 {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 120px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
  background-color: #16cce9;
  border-color: #fff;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

a.search-btn {
  font-size: 35px;
}

a.search-btn:hover {
  color: #16cce9;
}

.top-buttons {
  margin-top: 80px;
  margin-left: 160px;
}

.img-rounded {
  margin: 7px;
}

.category-icons {
  margin-bottom: 50px;
}

.all {
  margin-top: 20px;
}

#trail-map {
  margin-bottom: 60px;
}

.trail-header {
  margin-left: 17px;
}

.well {
  background: rgba(0, 0, 0, 0.4);
}

.icon {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom:20px;
}

button:hover {
  background: rgba(91, 204, 208, 0.57);
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.big-well {
  width: 100%;
}
