{{#link-to 'trails' selectedState}}{{selectedState}}{{/link-to}}

<div id="us-map" class="map">
  <h3>Focused State: {{selectedState}}</h3>
  {{us-map trails=model selectedState=selectedState}}
</div>
